:root {
  --nxb-space-1: 4px;
  --nxb-space-2: 6px;
  --nxb-space-3: 8px;
  --nxb-space-4: 10px;
  --nxb-space-5: 12px;
  --nxb-space-6: 16px;
  --nxb-space-7: 18px;
  --nxb-space-8: 22px;
  --nxb-space-9: 24px;
  --nxb-space-10: 32px;
}
